.card{
    background-color: var(--dark) !important;
}
.card-title{
    color: white !important;
}
.card-body{
    background-color: var(--light);
}
.icons i{
    cursor: pointer;
}
.mt-3{
    background-color: var(--light) !important;
}
.btn-link{
    text-decoration: none;
}
.mt-3-comment{
    margin: 10px !important;

}
.mt-3 h6{
    background-color: var(--dark) !important;
    color: white;
    margin: 0;
}
.mt-3 p{
    margin: 0;
    background-color: var(--lighter) !important;
    /* color: ; */
}