.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}

:root
{
  --dark: #297194;
  --light : #d1e1f7;
  --lighter : #e7f2f7;
  --gray : #788097;
}

.button{
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(180deg, #759dd5 26.71%, #297194 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(0.22941176470588234, 0.307843137254902, 0.4176470588235294, 0.5);
}
.button:hover{
  background: white;
  cursor: pointer;
  color: var(--dark);
  border: 1px solid #15506d;
}